@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glow-travel {
  0% {
    box-shadow: 0 -2px 6px 1px rgba(37, 99, 235, 0.5);
  }
  12.5% {
    box-shadow: 1.4px -1.4px 6px 1px rgba(37, 99, 235, 0.5);
  }
  25% {
    box-shadow: 2px 0 6px 1px rgba(37, 99, 235, 0.5);
  }
  37.5% {
    box-shadow: 1.4px 1.4px 6px 1px rgba(37, 99, 235, 0.5);
  }
  50% {
    box-shadow: 0 2px 6px 1px rgba(37, 99, 235, 0.5);
  }
  62.5% {
    box-shadow: -1.4px 1.4px 6px 1px rgba(37, 99, 235, 0.5);
  }
  75% {
    box-shadow: -2px 0 6px 1px rgba(37, 99, 235, 0.5);
  }
  87.5% {
    box-shadow: -1.4px -1.4px 6px 1px rgba(37, 99, 235, 0.5);
  }
  100% {
    box-shadow: 0 -2px 6px 1px rgba(37, 99, 235, 0.5);
  }
}

.glow-outline {
  position: relative;
  border: 2px solid rgba(37, 99, 235, 0.2);
  animation: glow-travel 3s ease-in-out infinite;
}
